.my-card{
    box-shadow: var(--shadow);
    margin: 2rem;
    border-radius: 0.5rem;
    min-width: 400px;
    flex: 1;
}

.ant-card-head-title{
    margin: 0rem !important;
    font-weight: 500;;
}

.my-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 2rme auto;
    flex-wrap: wrap;
    gap: 16px;
}

.card-content{
    margin: 0;
}